body{
    margin-top: 3%;
    text-align: center;
    background: url("https://www.funbrain.com/assets/img/content-cards/F2qRmLhRnmebc8jJAUjr_GuessTheNumber%403x.png");
    background-size: cover;
    background-repeat: no-repeat;

}